body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  direction: ltr;
  background-color: #ffffff;
  color: #333;
}

header {
  background-color: #a77979;
  padding: 10px 20px;
  text-align: center;
  color: white;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2, .hero p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: 250px;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card button {
  display: inline-block;
  margin-top: 15px;
  background-color: #90ee90;
  color: black;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}

.product-card .btn {
  display: inline-block;
  margin-top: 10px;
  background-color: #a77979;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.instagram-icon {
  display: inline-block;
  font-size: 28px;
  color: #E1306C;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
}

.instagram-icon:hover {
  color: #c13584;
}

.about, .contact {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #222;
  color: white;
}

/* Order Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

/* Swiper Carousel */
.swiper-container {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.swiper-slide img {
  width: 100%;
  border-radius: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #a77979;
  top: 40%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #6d4c4c;
}
